p {
    color: blue;
    line-height: 1.5;
    margin: 1px 5px 10px 20px;
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
    color: #ffa900 ;
    font-size: 1.5em;
    background-color: black;
    margin: 20px;
    padding: 40px;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: orange;

}

body {
    font-size: 14pt;
    font-family: sans-serif, arial;
    background: white
    url(http://content.sportslogos.net/logos/6/216/full/2nn48xofg0hms8k326cqdmuis.gif) no-repeat top right;
    
}

ol{
    font-weight: 500;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#top{
    background-color: #ccc ;
    padding: 20px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}


a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: yellow;
}

